<div class="p-4">
  <h2 class="text-2xl font-bold mb-4">Your Houses</h2>

  <%= link_to "Add New House", new_house_path, class: "bg-blue-600 text-white px-4 py-2 rounded mb-6 inline-block hover:bg-blue-700" %>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% @houses.each do |house| %>
      <div>
        <div class="bg-white rounded shadow">
          <div class="py-2">
            <%= link_to house_path(house) do %>
              <div class="w-full h-100 flex justify-center space-x-2 mb-2">
                <% house.house_images.each do |image| %>
                  <% if image.variable? %>
                    <%= image_tag image.variant(resize_to_limit: [400, 400]), class: "h-auto max-w-full" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>  
            <div class="p-4">
              <%= link_to house_path(house) do %>
                <h3 class="text-lg font-bold"><%= house.house_name %></h3>
              <% end %>
              <p class="text-sm text-gray-600">Address: <%= house.address %></p>
              <p class="text-sm text-gray-500">Rooms: <%= house.no_of_rooms %></p>
            </div>
            <div class="mt-4 flex justify-between gap-2 w-full">
              <%= link_to "Edit", edit_house_path(house), class: "px-4 py-2 text-sm flex-1 bg-blue-500 text-center font-medium text-white cursor-pointer" %>
             <%= link_to "Delete", house_path(house), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "px-4 py-2 text-sm font-medium flex-1 text-center bg-red-500 text-white cursor-pointer" %>
            </div>
          </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
