<div class="bg-gray-100 text-gray-900 mt-40 flex items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md w-[30%]">
    <h2 class="text-2xl font-bold mb-6 text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
      </div>

      <%= f.submit "Send me reset password instructions", class: "w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700" %>
    <% end %>

    <div class="mt-4 text-center">
      <%= link_to "Back to login", new_user_session_path, class: "text-blue-600 hover:underline" %>
    </div>
  </div>
</div>
