<div class="bg-gray-100 text-gray-900 mt-40 flex items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md w-[30%]">
    <h2 class="text-2xl font-bold mb-6 text-center">Login to TMS</h2>

    <%= form_with scope: :user, url: session_path(:user), local: true do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700" %>
        <%= f.email_field :email, required: true, autofocus: true, class: "mt-1 w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
      </div>

      <div class="mb-6">
        <%= f.label :password, class: "block text-gray-700" %>
        <%= f.password_field :password, required: true, class: "mt-1 w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
      </div>

      <%= f.submit "Log in", class: "w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700" %>
    <% end %>

    <div class="mt-4 text-center">
      <%= link_to "Don't have an account? Sign up", new_user_registration_path, class: "text-blue-600 hover:underline" %>
      <br>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-blue-600 hover:underline" %>
    </div>
  </div>
</div>
